*{
  box-sizing: border-box;
}
html, body {
    margin: 0; 
    padding: 0;
    background-color: #CF112D;
  }

a:link {
    margin-bottom: 10%;
    display: block;
  color: white;
  background-color: transparent;
  text-decoration: none;
    font-size: 6vw;
    border: 5px solid white;
    white-space: nowrap;
    

    
}
a:visited {
    margin-bottom: 10%;
    display: block;
  color: white;
  background-color: transparent;
  text-decoration: none;
  border: 5px solid white;

  
  
}

a:hover{
  color:#28469E;
  border: 5px solid #28469E;
  
  
}

#left a{
  margin-left: 10%;
}


#right a {
  margin-right: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 5px solid black;
    
    
  }

h1 {
    margin-top: 0;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#left{
  word-wrap: break-word;
    float:left;
    width:30%;
    text-align: center;
    
    
    
}

#middle{
    float:left;
    width:40%;
    
    
}

#right{
    float: right;
    width: 30%;
    text-align: center;
    
}

/* #main{
  overflow: auto;
  border: 1px solid white;
} */

#header{
  text-align: center;
  background: black;
  color: white;
  font-size: 200%;
  position: sticky;
  top:0;

}

#footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;

    
}







