h1 {
    color: white;
    background-color: green;
    text-align: center;
}

#p1{
    color: black;
    background-color: lightblue;
    border: 5px green solid;
    
}

.p2{
    color: black;
    background-color: lightblue;
    border: 5px green solid;
    
}

#p3{
    color: black;
    background-color: lightblue;
    border: 5px green solid;
    
}

#p4{
    color: black;
    background-color: lightblue;
    border: 5px green solid;
    
}

#p5{
    color: black;
    background-color: lightblue;
    border: 5px green solid;
    
}